<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayrajaramillo.appmascotas" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaTareas"
            android:label="@string/title_activity_lista_tareas" >
        </activity>
        <activity
            android:name=".NuevaTarea"
            android:label="@string/title_activity_nueva_tarea"
            android:parentActivityName=".ListaTareas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayrajaramillo.appmascotas.ListaTareas" />
        </activity>
        <activity
            android:name=".NuevaMascotas"
            android:label="@string/title_activity_nueva_mascotas"
            android:parentActivityName=".Inicio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mayrajaramillo.appmascotas.Inicio" />
        </activity>
    </application>

</manifest>
